body{
    margin: 0;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    transition: 0.2s;
    color: #323232;
}

/* utility */
.container{
    width: 1100px;
    margin: auto;
}
@media (max-width: 576px){
    .container{
        width: 100%;
    }
}


h2{
    font-family: "CentSchbkCyrill";
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    color: #323232;
    text-align: center;
    position: relative;
    padding: 0 0 100px;
}
h2::after{
    content: "";
    width: 130px;
    height: 3px;
    background-color: #CF4747;
    position: absolute;
    left: 50%;
    top: 63px;
    transform: translate(-50%);
}
@media (max-width: 576px){
    h2{
        font-size: 22px;
        line-height: 30px;
        padding: 0px 0 50px;
    }
    h2::after{
        width: 95px;
        top: 80px;
    }
}
.break {
    flex-basis: 100%;
    height: 0;
  }

.red-txt{
    color: #CF4747;
}
/* utility END */

/* buttons */
.button{
    font-family: "Circe";
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    background-color: white;
    color: #323232;
    border: 1px solid #323232;
    color: white;
    padding: 15px 18px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}
.blue-button{
    background-color: #0A4773;
    border-color: #0A4773;
}
.blue-button:hover{
    background-color: rgb(6, 44, 71);
    border-color: rgb(6, 44, 71);
}
.blue-outline-button{
    background-color: white;
    border-color: #0A4773;
    color: #0A4773;
}
.blue-outline-button:hover{
    background-color: #0A4773;
    color: white;
}

.red-outline-button{
    background-color: white;
    border-color: #CF4747;
    color: #CF4747;
}
.red-outline-button:hover{
    background-color: #CF4747;
    color: white;
}

.red-button{
    background-color: #CF4747;
    border-color: #CF4747;
}
.red-button:hover{
    background-color: rgb(116, 37, 37);
    border-color: rgb(116, 37, 37);
}
@media (max-width: 576px){
    .button{
        padding: 16px 12px;
        font-size: 12px;
    }
    
}
/* buttons END */


/* header */
header{
    background-color: #FAFAFA;
    height: 107px;
}
header .inner{
    padding: 0 15px;
    margin: auto;
    max-width: 1376px;
    height: 100%;
    display: flex;
    align-items: center;
}
header .logo-wrapper{
    width: 22%; 
}
header .inner .logo{
    width: 220px;
}
header .inner nav{
    width: 63%;
}
header .inner nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 80px 0 137px; */
    margin-top: 16px;
}
header .inner nav ul li{
    margin-right: 26px;
}
header .inner nav ul li a {
    font-family: "Circe";
    font-size: 13.4px;
    color: #323232;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;

}
header .inner nav ul li a:hover, header .inner nav ul li:hover,
header .inner .social-media i:hover{
    color: #8F8F8F;
}
header .inner nav ul .social-centre{
    color: #CF4747;
    margin-left: auto;
    margin-right: 0;
    border-bottom: 2px solid;
    line-height: 15px;
}
header .inner nav ul .social-centre > a{
    color: #CF4747;
}
header .inner .social-media{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin-top: 11px;
    margin-left: auto;
}
header .inner .social-media a{
    margin-left: 20px;
}
header .inner .social-media i{
    font-size: 19px;
    color: #323232;
}
.mobile-inner{
    display: none;
}
@media (max-width: 576px){
    header{
        height: 70px;
        background-color: #CF4747;
    }
    header .inner{
        display: none;
    }
    header .mobile-inner{
        display: block !important;
        position: relative;
    }
    header .mobile-inner .hamburger-menu{
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header .mobile-inner .hamburger-menu span{
        height: 2px;
        width: 100%;
        background-color: white;
        display: block;
    }
    header .mobile-inner .mobile-nav{
        position: relative;
        background-color: #CF4747;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header .mobile-inner .mobile-nav nav{
        height: 200px;
    }
    header .mobile-inner .mobile-nav nav ul{
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
    }
    header .mobile-inner .mobile-nav nav ul li{
        margin-bottom: 10px;
    }
    header .mobile-inner .mobile-nav nav ul li a {
        font-family: "Circe";
        font-size: 15px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    
    }
    header .mobile-inner .mobile-nav nav ul .social-centre{
        
        margin-top: 50px;
        border-bottom: 2px solid white;
        line-height: 15px;
    }
    header .mobile-inner .mobile-nav .social-media{
        
        display: flex;
        justify-content: flex-end;
        margin-top: 140px;
        
    }
    header .mobile-inner .mobile-nav .social-media a:not(:first-child){
        margin-left: 20px;
    }
    header .mobile-inner .mobile-nav .social-media i{
        font-size: 19px;
        color: white;
    }
    header .mobile-inner .mobile-nav .close{
        width: 50px;
        height: 70px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header .mobile-inner .mobile-nav .close span{
        height: 2px;
        width: 20px;
        background-color: white;
        display: block;
    }
    header .mobile-inner .mobile-nav .close span:nth-child(1){
        position: absolute;
        transform: rotate(-45deg);
    }
    header .mobile-inner .mobile-nav .close span:nth-child(2){
        position: absolute;
        transform: rotate(45deg);
    }
}
/* header END */



/* footer */
footer{
    font-family: "Circe";
    
}
footer .top .inner{
    display: flex;
    padding: 52px 0;
}
footer .top{
    background-color: #CF4747;
    width: 100%;
    height: 205px;
}
footer .bottom{
    background-color: #323232;
    width: 100%;
    height: 104px;
}
footer .top .logo-wrapper{
    width: 28.5%;
}
footer .top .inner .logo{
    width: 270px;
}
footer .top p{
    font-size: 14px;
    color: white;
    letter-spacing: -0.1px;
    font-weight: 100;
    margin-right: 62px;
}
footer .top ul{
    padding: 0;
    margin-top: -1px;
}
footer .top ul:nth-child(3){
    margin-right: 54px;
}
footer .top ul:nth-child(4){
    margin-right: 45px;
}

footer .top ul li{
    list-style: none;
    line-height: 20.5px;

}
footer .top ul li a{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 13.7px;
}
footer .bottom{

}
footer .bottom .inner{
    display: flex;
    justify-content: space-between;
    padding: 31px 0 35px;
}
footer .bottom .inner .copyright{
    color: #9A9A9A;
    font-size: 13.1px;
}
footer .bottom .inner .social-media{

}
footer .bottom .inner .social-media{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin-top: -3px;
}
footer .bottom .inner .social-media a{
    margin-left: 20px;
}
footer .bottom .inner .social-media i{
    font-size: 15px;
    color: #9A9A9A;
}
.mobile-inner{
    display: none;
}
@media (max-width: 576px){
    footer .top .inner{
        display: none !important;
    }
    footer .top {
        height: 300px;
    }
    footer .bottom .social-media{
        display: none !important;
    }
    footer .bottom{
        height: 70px;
    }
    footer .bottom .container{
        height: 100%;
    }
    footer .bottom .inner{
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    footer .bottom .inner .copyright {
        font-size: 16px;
    }
    footer .mobile-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
    
    }
    footer .mobile-inner .logo-wrapper{
        width: 170px;
        margin-bottom: 20px;
    }
    footer .mobile-inner .logo-wrapper .logo{
        width: 100%;
    }
    footer .mobile-inner .social-media{

    }
    footer .mobile-inner .social-media a:not(:first-child) {
        margin-left: 30px;
    }
    footer .mobile-inner .social-media i{
        font-size: 20px;
        color: white;
    }
}
/* footer END */
