/* main-first-screen */
.main-first-screen{
    height: 567px;
    padding: 142px 50px 0;
    background-image: url(../img/main/first-screen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-first-screen h1{
    font-family: "CentSchbkCyrill";
    font-weight: bold;
    max-width: 600px;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: -0.8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #323232;
}
.main-first-screen p{
    font-family: "Circe";
    font-weight: lighter;
    max-width: 500px;
    font-size: 20px;
    letter-spacing: -0.8px;
    line-height: 25px;
    margin-bottom: 33px;
    color: #323232;
}
@media (max-width: 576px){
    .main-first-screen{
        height: 300px;
    }
    .main-first-screen .container{
        display: none;
    }
}
/* first-screen END */


/* main-article */
.main-article{
    padding: 75px 0 100px;
}
.main-article .content{
    display: flex;
}
.main-article .content .media {
    width: 464px;
    height: 506px;
    margin-right: 35px;
    flex-shrink: 0;
}
.main-article .content .media img{
    width: 100%;
}
.main-article .content .text{
    display: flex;
    flex-direction: column;
}
.main-article .content .text h3{
    font-family: "CentSchbkCyrill";
    font-weight: 400;
    font-size: 27.5px;
    line-height: 19px;
    margin-bottom: 23px;
}
.main-article .content .text > p{
    font-family: "Circe";
    font-weight: 400;
    font-size: 16.5px;
    max-width: 580px;
    margin-bottom: 8px;
}
.main-article .content .text .info{
    display: flex;
    align-items: end;
    margin-top: auto;
}
.main-article .content .text .info > p{
    font-family: "Circe";
    font-weight: 400;
    font-size: 16.5px;
    max-width: 320px;
    line-height: 26px;
    margin-bottom: -4px;
}
.main-article .content .text .info .link{
    margin: auto 16px 2px auto;
    font-family: "Circe";
    letter-spacing: 0.1px;
    font-weight: 600;
    font-size: 16.3px;
    color: #323232;
    border-bottom: 1px solid #CF4747;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
}
@media (max-width: 576px){
    .main-article {
        padding: 35px 0 40px;
    }
    .main-article .content{
        width: 100%;
        flex-direction: column;
    }
    .main-article .content .media{
        width: 100%;
        margin: 0;
        height: 360px;
        margin-bottom: 12px;
    }
    .main-article .content .text{
        padding: 0 20px;
    }
    .main-article .content .text h3{
        font-family: "Circe";
        font-size: 20px;
        margin-bottom: 13px;
    }
    .main-article .content .text .info{
        flex-direction: column-reverse;
        margin-top: 7px;
    }
    .main-article .content .text .info .link{
        margin-bottom: 15px;
    }
}
/* main-article END */

/* donations */
.donations{

}
.donations .header{
    height: 483px;
    background-image: url(../img/main/donations.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 196px;
}
.donations .header .wrapper{
    display: flex;
    justify-content: space-between;
}
.donations .header .text{
    max-width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}
.donations .header .text h3{
    color: white;
    font-family: "CentSchbkCyrill";
    font-weight: 600;
    font-size: 33.2px;
    margin-bottom: 19px;
}
.donations .header .text p{
    color: white;
    font-family: "CentSchbkCyrill";
    font-weight: 700;
    font-style: italic;
    font-size: 27.5px;
}
.donations .header .interactive{
    width: 356px;
    height: 287px;
    background-color: white;
    padding: 27px;
}
.donations .header .interactive .progress-info{
    margin-bottom: 30px;
}
.donations .header .interactive .progress-info .wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
.donations .header .interactive .progress-info .title{
    font-family: "Circe";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.2px;
    margin-top: 13px;
}
.donations .header .interactive .progress-info .percent{
    font-family: "Circe";
    font-weight: 900;
    font-size: 26px;
}
.donations .header .interactive .progress-info .progress-bar{
    width: 100%;
    height: 10px;
    background-color: #DCDCDC;
    margin-bottom: 6px;
}
.donations .header .interactive .progress-info .progress-bar .progress{
    height: 100%;
    background-image: linear-gradient(135deg, #cf4747 45.45%, #d78e84 45.45%, #d78e84 50%, #cf4747 50%, #cf4747 95.45%, #d78e84 95.45%, #d78e84 100%);
    background-size: 15.56px 15.56px;
}
.donations .header .interactive .progress-info .income{
    display: inline-block;
    font-family: "Circe";
    font-weight: 400;
    font-size: 14px;
}
.donations .header .interactive .progress-info .income .income-total{
    display: inline;
    font-family: "Circe";
    font-weight: 400;
    font-size: 14px;
    color: #CF4747;
}

.donations .header .interactive .buttons{

}
.donations .header .interactive .buttons > * {
    width: 100%;
}
.donations .header .interactive .buttons a:first-child{
    margin-bottom: 16px;
}

.donations .table{
    padding: 83px 0 100px;
    
}
.donations .table h3{
    font-family: "Circe";
    font-weight: 600;
    font-size: 27.5px;
    text-align: center;
    margin-bottom: 38px;
}
.donations .table table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 70px;
}
.donations .table tr{

}
.donations .table td{
    text-align: center;
    font-family: "Circe";
    vertical-align: middle;

}
.donations .table thead{
    background-color: #CF4747;
    font-weight: 600;
    font-size: 18px;
    
}
.donations .table thead tr{
    height: 50px;
}
.donations .table thead td{
    color: white;
}
.donations .table thead td:nth-child(1){
    width: 33%;
}
.donations .table thead td:nth-child(2){
    width: 33%;
}
.donations .table thead td:nth-child(3){
    width: 33%;
}
.donations .table tbody tr{
    height: 93px;
    font-size: 18px;
    font-weight: 600;
}

.donations .table tbody tr:nth-child(odd){
    background-color: #EEEEEE;
}
.donations .table tbody td:nth-child(3){
    font-weight: 500;
    font-size: 18px;
    color: #CF4747;
}
.donations .table .buttons{
    display: flex;
    justify-content: flex-end;
}
.donations .table .buttons .button:nth-child(1){
    margin-right: 50px;
}
@media (max-width: 576px){
    .donations{
        
    }
    .donations .header{
        height: auto;
        padding: 0;
    }
    .donations .header > .container > .wrapper{
        flex-direction: column;
    }
    .donations .header .text{
        width: 100%;
        padding: 30px;
    }
    .donations .header .interactive{
        width: 100%;
        height: 300px;
        background-color: #F4F4F4;
    }
    .donations .header .text h3{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .donations .header .text p{
        font-size: 16px;
        line-height: 23px;
    }
    .donations .table{
        padding: 32px 0 80px;
    }
    .donations .table h3{
        text-align: left;
        font-size: 21px;
        padding: 0 55px 0 20px;
        margin-bottom: 15px;
    }
}
/* donations END */

/* news */
.news{
    padding: 85px 0 105px;
    background-color: #F4F4F4;
}
.news h2{

}
.news .cards{
    display: flex;
    justify-content: space-between;
}
.news .cards .card{
    width: 338px;
}
.news .cards .card .media{
    width: 100%;
    height: 210px;
    margin-bottom: 36px;
}
.news .cards .card .media img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.news .cards .card .info{
    margin-bottom: 10px;
}
.news .cards .card .info .date{
    color: #CF4747;
    font-family: "CentSchbkCyrill";
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}
.news .cards .card .info p{
    font-family: "Circe";
    font-size: 18px;
    letter-spacing: -0.7px;
    max-width: 300px;
}
.news .cards .card .button{
    padding: 13px 31px;
    background-color: #F4F4F4;
}
.news .cards .card .button:hover {
    background-color: #0A4773;
    color: white;
}
@media (max-width: 576px){
    .news{
        padding: 40px 0 0;
        background-color: white;
    }
    .news .cards{
        flex-direction: column;
    }
    .news .cards .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .news .cards .card .info{
        padding: 0 20px;
    }
    .news .cards .card .button{
        margin-left: 20px;
        background-color: white;
    }
    .news .cards .card .button:hover{
        background-color: #0A4773;
        color: white;
    }
}
/* news END */

/* story */
.story{
    height: 327px;
    text-align: center;
    background-color: #FCFCFC;
    padding: 73px 0 50px;
}
.story p{
    color: #323232;
    font-family: "CentSchbkCyrill";
    font-weight: 700;
    font-style: italic;
    font-size: 27.5px;
    line-height: 40px;
    margin-bottom: 35px;
}
.story button{

}
@media (max-width: 576px){
    .story{
        padding: 20px 20px 50px;
        height: auto;
    }
    .story .container{
        display: flex;
        flex-direction: column;
    }
    .story p{
        font-size: 17px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 20px;
    }
    .story .button{
        align-self: start;
    }
}
/* story END */


/* squares */
.squares{
    display: flex;
    height: 284px;
}
.squares .square{
    width: 25%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 45px;
}
.squares .square:nth-child(1){
    background-color: #0A4773;
}
.squares .square:nth-child(2){
    background-color: #A63D3A;
}
.squares .square:nth-child(3){
    background-color: #CF4747;
}
.squares .square:nth-child(4){
    background-color: #DF5F42;
}
.squares .square .title{
    font-family: "Circe";
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 13px;
    color: white;
}
.squares .square p{
    font-family: "Circe";
    font-size: 17px;
    max-width: 300px;
    line-height: 25px;
    text-align: center;
    color: white;
}
.squares .square .read-more{
    margin-top: auto;
    font-family: "Circe";
    font-size: 13px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 2px;
}
@media (max-width: 576px){
    .squares{
        height: auto;
        flex-direction: column;
    }
    .squares .square{
        width: 100%;
        height: 284px;
    }
}
/* squares END */

/* social */
.social {
    padding: 108px 0 146px;
    background-color: #F8F8F8;
}
.social h2{
    padding-bottom: 95px;
}
.social .content{
    display: flex;
    justify-content: space-between;
    height: 313px;
}
.social .content .text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.social .content .text p{
    font-family: "Circe";
    font-size: 22px;
    line-height: 33px;
}
.social .content .text a{
    margin-top: auto;
    width: 158px;
    height: 49px;
}
.social .content .media{
    width: 545px;
}
.social .content .media .wrapper{
    width: 100%;
    margin-bottom: 9px;
}
.social .content .media .wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social .content .media .caption{
    font-family: "CentSchbkCyrill";
    font-style: italic;
    font-size: 16.5px;
}
@media (max-width: 576px){
    .social{
        padding: 40px 0 40px;
    }
    .social h2 {
        padding-bottom: 35px;
    }
    .social h2::after{
        width: 95px;
        top: 49px;
    }
    .social .content{
        flex-direction: column-reverse;
        height: auto;
    }
    .social .content .media{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .social .content .media .caption{
        text-align: center;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .social .content .text p{
        font-size: 16px;
        padding: 20px;
        line-height: 22px;
    }
    .social .content .text a{
        margin-left: 20px;
    }
}
/* social END */



/* flight-9268 */
.flight-9268{
    background-color: #F8F8F8;
    padding-bottom: 117px;
}
.flight-9268 .wrapper{
    border: 1px solid #CF4747;
    padding: 43px 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flight-9268 h2{
    padding: 0 0 57px;
}
.flight-9268 p{
    font-family: "Circe";
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 29px;
}
.flight-9268 a{
    width: 158px;
}
@media (max-width: 576px){
    .flight-9268{
        display: none;
    }
}
/* flight-9268 END */

/* partners */
.partners{
    padding: 76px 0 71px;
}
.partners .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners .items{
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    margin-bottom: 35px;
    width: 100%;
    flex-wrap: wrap;
}
.partners .items .item{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    opacity: 0.6;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.partners .items .item:hover{
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.partners .items .item img{
    width: 70%;
}
.partners a{
    height: 48px;
    width: 157px;
}
@media (max-width: 576px){
    
}
/* partners END */


/* stages-of-construction */
.stages-of-construction{
    padding: 85px 0 50px;
    background-color: #F8F8F8;
}
.stages-of-construction h2{

}
.stages-of-construction .content{
    display: flex;
    
}
.stages-of-construction .content .media{
    width: 589px;
    margin-right: 30px;
}
.stages-of-construction .content .media .wrapper{
    width: 100%;
    margin-bottom: 39px;
}
.stages-of-construction .content .media .wrapper img{
    width: 100%;
}
.stages-of-construction .content .media .caption{
    font-family: "CentSchbkCyrill";
    font-style: italic;
    font-size: 15.6px;
}
.stages-of-construction .content .info{
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stages-of-construction .content .info .items{
    display: flex;
    flex-direction: column;
    position: relative;
}
.stages-of-construction .content .info .items .red-line{
    top: 2px;
    position: absolute;
    left: 18px;
    width: 3px;
    height: 340px;
    background-color: #CF4747;
}
.stages-of-construction .content .info .items .item{
    display: flex;
    margin-bottom: 19.8px;
}
.stages-of-construction .content .info .items .item .icon{
    background-image: url(../img/icons/time-opacity.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 41px;
    transform: scale(0.9);
    background-position: center;
    margin: -1px 21px 0 -3px;
    background-color: #F8F8F8;
}
.stages-of-construction .content .info .items .item p{
    font-family: "Circe";
    font-size: 17px;
    max-width: 430px;
    letter-spacing: -0.2px;
    margin-top: -4px;
}
.stages-of-construction .content .info .buttons{
    margin-left: 2px;
    margin-bottom: 6px;
}
.stages-of-construction .content .info .buttons .red-button{
    height: 47px;
    width: 222px;
    margin-right: 68px;
}
.stages-of-construction .content .info .buttons .red-outline-button{
    width: 157px;
    height: 47px;
}
@media (max-width: 576px){
    
}
/* stages-of-construction END */

/* map */
.map{
    padding: 85px 0 0 ;
}
.map h2{
    padding: 0 0 79px;
}
.map #map{
    width: 100%;
    height: 523px;
    background-color: red;
}
@media (max-width: 576px){
    
}
/* map END */

/* form */
.form{
    font-family: "Circe";
    font-style: normal;
    padding: 74px 0 73px;
}
.form .content{
    display: flex;
}
.form .info{
    width: 467px;
    padding: 62px 0 0 1px;
}
.form .info address{

}
.form .info a{
    text-decoration: none;
}
.form .info p{
    letter-spacing: 0.27px;
    line-height: 25px;
    margin-bottom: 28px;
}
.form form{
    width: 608px;
    display: flex;
    flex-direction: column;
}
.form form h3{
    font-family: "CentSchbkCyrill";
    font-size: 33px;
    letter-spacing: -0.8px;
    font-weight: 400;
    margin-bottom: 21px;
}

.form form label{
    font-size: 17px;
}
.form form input:focus, .form form textarea:focus{
    outline: none;
}
.form form input[type='text']{
    margin: 0 0 22px 2px;
    border-radius: 0;
    border: 1px solid #323232;
    height: 33px;
    width: 99.8%;
    padding: 0 15px;
}
.form form .one-row{
    display: flex;
    margin-bottom: 14px;
}
.form form .one-row .form-group:nth-child(1){
    width: 240px;
    margin-right: 13px;
}
.form form .one-row .form-group:nth-child(2){
    width: 352px;
}

.form form textarea[name="question"]{
    border-radius: 0;
    height: 115px;
    margin-bottom: 29px;
    width: 99.8%;
    resize: none;
    padding: 15px;
}
.form form .button{
    align-self: flex-end;
    padding: 13px 31px;
    margin-right: 2px;
}
@media (max-width: 576px){
    
}
/* form END */